<md-content layout-padding>
	<md-card flex-gt-sm="90" flex-gt-md="80">
		<md-card-content class="md-body-1">
			<p>
				<span class="md-display-2">W</span>elcome to
				<span>our
					<md-tooltip>David Swenson, and Peter Fabianski</md-tooltip>
				</span>senior project.</p>
			<p>This has taken a semester length of work to get everything into the position it is currently.</p>
			<p>Our main site exists at
				<a href="https://whysocirr.us">https://whysocirr.us</a>
			</p>
			<p>This application consists of a single page application, and a node application.</p>
			<p>There are many things that could of been done better but we are limited to a single semester while other majors had two
				semesters for their senior projects.</p>
			<p>The application server, db server, and blog server are all sitting ontop of the Hyper-V server due to limited number of
				hardware we had for hosting of the services.</p>
			<p>Most important information about how the applications work under the hood</p>
		</md-card-content>
	</md-card>
	<md-content flex layout-gt-lg="row" layout-lg="column">
		<md-card flex>
			<md-card-content class="md-body-1 ">
				<h2>Node Application Life Cycle</h2>
				<p>
					<img src="https://i.imgur.com/hdpjA4G.png " />
				</p>
			</md-card-content>
		</md-card>
		<md-card flex>
			<md-card-content class="md-body-1 ">
				<h2>Single Page Application Life Cycle</h2>
				<p>
					<img src="https://docs.angularjs.org/img/guide/concepts-runtime.png " />
				</p>
			</md-card-content>
		</md-card>
	</md-content>
</md-content>