<md-bottom-sheet ng-init="vm = {cpu:1, ram:1024, hardDrive:8}">
	<h2 class="md-title">Launch Virtual Machine</h2>
	<md-input-container>
		<label>Name</label>
		<input ng-model="vm.name" type="text" required>
	</md-input-container>
	<div layout flex>
		<div flex="20" layout layout-align="start center">
			<span class="md-body-1">CPU (Cores)
				<md-tooltip ng-bind="vm.cpu"></md-tooltip>
			</span>
		</div>
		<md-slider class="md-primary" flex md-discrete ng-model="vm.cpu" step="1" min="1" max="4" aria-label="CPU (Cores)"></md-slider>
	</div>
	<div layout flex>
		<div flex="20" layout layout-align="start center">
			<span class="md-body-1">RAM (MB)
				<md-tooltip ng-bind="vm.ram"></md-tooltip>
			</span>
		</div>
		<md-slider class="md-primary" flex md-discrete ng-model="vm.ram" step="256" min="512" max="4096" aria-label="RAM (MB)"></md-slider>
	</div>
	<div layout flex>
		<div flex="20" layout layout-align="start center">
			<span class="md-body-1">Virtual Switch</span>
		</div>
		<md-select placeholder="Virtual Switch" ng-model="vm.virtualSwitch" required>
			<md-option ng-repeat="vs in VSs" ng-value="vs.Name">{{vs.Name}}</md-option>
		</md-select>
	</div>
	
	<div layout flex>
		<div flex="20" layout layout-align="start center">
			<span class="md-body-1">Virtual Disk</span>
		</div>
		<md-select placeholder="Virtual Disk" ng-model="vm.virtualDisk" required>
			<md-option ng-repeat="vd in VDs" ng-value="vd.Path">{{vd.Path}}</md-option>
		</md-select>
	</div>
	<div layout flex layout-align="end center">
		<md-button class="md-raised md-primary" ng-click="launch(vm)">Launch</md-button>
		<md-button class="md-warn" ng-click="close()">Cancel</md-button>
	</div>
</md-bottom-sheet>