<md-content layout-padding>
	<md-card flex-gt-sm="90" flex-gt-md="80">
		<md-card-content>
			<md-data-table-toolbar>
				<h2 class="md-title">Virtual Switch</h2>
			</md-data-table-toolbar>
			<md-data-table-container>
				<table md-data-table md-row-select="network.selected">
					<thead md-order="Name" md-trigger="onOrderChange">
						<tr>
							<th>Name</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="vs in network.vss | orderBy: Name | filter: network.filter  | limitTo: network.query.limit">
							<td>{{ vs.Name }}</td>
							<td>{{ vs.SwitchType }}</td>
						</tr>
					</tbody>
				</table>
			</md-data-table-container>
			<div class="md-actions" layout layout-sm="row" layout-align="end center">
				<md-data-table-pagination md-label="{'text':'Items per page'}" md-limit="network.query.limit" md-page="network.query.page"
				md-total="{{network.vss.length}}"></md-data-table-pagination>
			</div>
		</md-card-content>
	</md-card>
</md-content>