<md-content layout-padding>
	<md-card flex-gt-sm="90" flex-gt-md="80">
		<md-card-content>
			<h2 class="md-title">Account Information</h2>
			<form name="userForm">
				<div layout layout-sm="column">
					<md-input-container flex>
						<label>First name</label>
						<input type="text" ng-model="main.user.firstName">
					</md-input-container>
					<md-input-container flex>
						<label>Last Name</label>
						<input type="text" ng-model="main.user.lastName">
					</md-input-container>
				</div>
				<div layout layout-sm="column">
					<md-input-container flex>
						<label>Display Name</label>
						<input type="text" ng-model="main.user.displayName">
					</md-input-container>
					<md-input-container flex>
						<label>Gravatar</label>
						<input type="email" ng-model="main.user.avatar">
					</md-input-container>
				</div>
			</form>
		</md-card-content>
		<div class="md-actions" layout layout-sm="row" layout-align="end center">
			<md-button class="md-raised md-primary" ng-click="settings.save('User', main.user)">Save</md-button>
		</div>
	</md-card>
</md-content>