<md-content layout-padding>
	<md-card flex-gt-sm="90" flex-gt-md="80">
		<md-card-content>
			<md-data-table-toolbar>
				<h2 class="md-title">Virtual Disks</h2>
			</md-data-table-toolbar>
			<md-data-table-container>
				<table md-data-table md-row-select="storage.selected">
					<thead md-order="DiskIdentifier" md-trigger="onOrderChange">
						<tr>
							<th order-by="DiskIdentifier">ID</th>
							<th order-by="Path">Path</th>
							<th order-by="ParentPath">Parent</th>
							<th order-by="Size">Size</th>
							<th order-by="Attached">Attached</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="vhd in storage.vhds | orderBy: action | filter: storage.filter  | limitTo: storage.query.limit">
							<td>{{ vhd.DiskIdentifier }}</td>
							<td>{{ vhd.Path }}</td>
							<td>{{ vhd.ParentPath }}</td>
							<td>{{ (vhd.Size-0)/100000 }}GB</td>
							<td>{{ vhd.Attached }}</td>
						</tr>
					</tbody>
				</table>
			</md-data-table-container>
			<div class="md-actions" layout layout-sm="row" layout-align="end center">
				<md-data-table-pagination md-label="{'text':'Items per page'}" md-limit="storage.query.limit" md-page="storage.query.page"
				md-total="{{storage.logs.length}}"></md-data-table-pagination>
			</div>
		</md-card-content>
	</md-card>
</md-content>