<md-content layout-padding>
	<md-card flex-gt-sm="90" flex-gt-md="80">
		<md-card-content>
			<md-data-table-toolbar>
				<h2 class="md-title">Virtual Disks</h2>
			</md-data-table-toolbar>
			<md-data-table-container>
				<table md-data-table md-row-select="storage.selected">
					<thead md-order="action" md-trigger="onOrderChange">
						<tr>
							<th order-by="action">Action</th>
							<th order-by="item">Item</th>
							<th order-by="date">Date</th>
							<th order-by="result">Result</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="vhd in storage.vhds | orderBy: action | filter: account.filter  | limitTo: account.query.limit">
							<td>{{ vhd.Id }}</td>
							<td>{{ log.Name }}</td>
							<td>{{ log.date }}</td>
							<td>{{ log.result }}</td>
						</tr>
					</tbody>
				</table>
			</md-data-table-container>
			<div class="md-actions" layout layout-sm="row" layout-align="end center">
				<md-data-table-pagination md-label="{'text':'Items per page'}" md-limit="account.query.limit" md-page="account.query.page"
				md-total="{{account.logs.length}}"></md-data-table-pagination>
			</div>
		</md-card-content>
	</md-card>
</md-content>