<md-content layout-padding>
	<md-card flex-gt-sm="90" flex-gt-md="80">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 class="md-title">Virtual Machines</h2>
				<span flex></span>
				<md-button class="md-icon-button" aria-label="Create">
					<ng-md-icon icon="create"></ng-md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="Information">
					<ng-md-icon icon="description"></ng-md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="Delete">
					<ng-md-icon icon="delete"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-card-content></md-card-content>
	</md-card>
	<md-card flex-gt-sm="90" flex-gt-md="80">
		<md-card-content ng-init="vm = {cpu:1, ram:1024, storage:8}">
			<h2 class="md-title">Launch Virtual Machine</h2>
			<md-input-container>
				<label>Name</label>
				<input ng-model="vm.name" type="text">
			</md-input-container>
			<div layout flex>
				<div flex="20" layout layout-align="start center">
					<span class="md-body-1">CPU (Cores)</span>
				</div>
				<md-slider class="md-primary" flex md-discrete ng-model="vm.cpu" step="1" min="1" max="4" aria-label="CPU (Cores)"></md-slider>
			</div>
			<div layout flex>
				<div flex="20" layout layout-align="start center">
					<span class="md-body-1">RAM (MB)</span>
				</div>
				<md-slider class="md-primary" flex md-discrete ng-model="vm.ram" step="256" min="512" max="4096" aria-label="RAM (MB)"></md-slider>
			</div>
			<div layout flex>
				<div flex="20" layout layout-align="start center">
					<span class="md-body-1">Operating System</span>
				</div>
				<md-select flex placeholder="Operating System" ng-model="vm.os">
					<md-option value="centos">CentOS</md-option>
					<md-option value="ubuntu">Ubuntu</md-option>
					<md-option value="windows">Windows</md-option>
					<md-option value="windowsServer">Windows Server</md-option>
					<md-option value="freebsd">FreeBSD</md-option>
				</md-select>
			</div>
			<div layout flex>
				<div flex="20" layout layout-align="start center">
					<span class="md-body-1">HDD (GB)</span>
				</div>
				<md-slider class="md-primary" flex md-discrete ng-model="vm.storage" step="8" min="8" max="128" aria-label="GB"></md-slider>
			</div>
			<div layout flex>
				<div flex="20" layout layout-align="start center">
					<span class="md-body-1">Network Adapter</span>
				</div>
				<md-select placeholder="Network Adapter" ng-model="vm.network">
					<md-option value="Test1">External Only</md-option>
					<md-option value="Test3">Private Only</md-option>
					<md-option value="Test2">External & Private</md-option>
				</md-select>
			</div>
		</md-card-content>
	</md-card>
</md-content>