<md-content layout-padding>
	<md-card flex-gt-sm="90" flex-gt-md="80">
		<md-card-content>
			<md-data-table-container>
				<table md-data-table md-row-select="vm.selected">
					<thead md-order="name" md-trigger="onOrderChange">
						<tr>
							<th order-by="name">Name</th>
							<th>Operating System</th>
							<th>Network</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="vmItem in vm.vms | orderBy: action">
							<td>{{vmItem.name}}</td>
							<td>{{vmItem.os}}</td>
							<td>{{vmItem.network}}</td>
							<td>{{vmItem.status}}</td>
						</tr>
					</tbody>
				</table>
			</md-data-table-container>
		</md-card-content>
	</md-card>
</md-content>