<!doctype html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="WhySoCirrus client">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WhySoCirrus Client</title>
		<link href="/bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
		<link href="/styles/style.css" rel="stylesheet" />
	</head>
	<body layout="row" ng-controller="MainController as main" md-swipe-right="main.layout.onSwipeRight('left')" ng-cloak>
		<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-swipe-left="main.layout.onSwipeLeft('left')" md-component-id="left"
		md-is-locked-open="$mdMedia('gt-sm')">
			<md-toolbar class="md-hue-2">
				<span flex></span>
				<div layout="column" class="md-toolbar-tools-bottom inset">
					<h1 style="vertical-align: center;">
						<ng-md-icon style="fill:#FFFFFF" icon="cloud_queue" size="64"></ng-md-icon>WhySoCirrus</h1>
				</div>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item ng-repeat="item in main.mainMenu" ng-click="main.traverse(item.link)">
						<a>
					<md-item-content md-ink-ripple layout="row" layout-align="start center" >
						<div class="inset">
							<ng-md-icon icon="{{item.icon}}"></ng-md-icon>
						</div>
						<div class="inset" ng-bind="item.title"></div>
					</md-item-content>
					</a>
					</md-list-item>
				</md-list>
				<div ng-if="main._authenticated">
					<md-divider></md-divider>
					<md-subheader>Management</md-subheader>
					<md-list>
						<md-list-item ng-repeat="item in main.managementMenu" ng-click="main.traverse(item.link)">
							<a>
						<md-item-content md-ink-ripple layout="row" layout-align="start center">
							<div class="inset">
								<ng-md-icon icon="{{item.icon}}"></ng-md-icon>
							</div>
							<div class="inset" ng-bind="item.title"></div>
						</md-item-content>
						</a>
						</md-list-item>
					</md-list>
				</div>
			</md-content>
		</md-sidenav>
		<div layout="column" class="relative" layout-fill id="content">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button ng-click="main.layout.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
						<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
					</md-button>
					<h1 ng-bind="main.title"></h1>
				</div>
			</md-toolbar>
			<md-content flex md-scroll-y class="md-padding">
				<ng-view></ng-view>
			</md-content>
		</div>
		<script src="/bower_components/socket.io.client/dist/socket.io-1.3.5.js"></script>
		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
		<script src="/bower_components/angular-material/angular-material.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
		<script src="/bower_components/angular-messages/angular-messages.min.js"></script>
		<script src="/bower_components/angular-route/angular-route.min.js"></script>
		<script src="/bower_components/angular-socket-io/socket.min.js"></script>
		<script src="/js/compiled.js"></script>
	</body>

</html>